.custom-active{
    background-color: #8DC63F;
}
.custom-bg{
    background-color: #373737;
}
.navbar{
    color: #FFFFFF;
}
.navbar-brand{
    color: #FFFFFF;
}
.navbar-nav .nav-link{
    color: #FFFFFF;
}
.navbar .nav-link-active{
    color: #F3F3F3;
}
.custom-text-bg{
    background-color: #37373784;
    margin: 0%;
}
.ribbon{
    position: fixed;
    inset: 0 0 auto auto;
    background: #8DC63F;
    box-shadow: 0 0 0 999px #8DC63F;
    transform-origin: 0 0;
    transform: translate(29.3%) rotate(45deg);
    clip-path: inset(0 -80%);
}